<!DOCTYPE html>
<html>
<head>
    <title>Baby Shower</title>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="convite.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body ng-app="BabyShowerApp" ng-controller="CodeController">
  <div class="container">
    <h2>Gerar Código de Convidado</h2>

    <h3>Transformar Contato</h3>
    <form>
      <div class="form-group">
        <label for="saudacao">Saudação:</label>
        <input type="text" class="form-control" id="saudacao" name="saudacao" ng-model="contato.saudacao">
      </div>
      <div class="form-group">
        <label for="fralda">Select list:</label>
        <select class="form-control" id="fralda" ng-model="contato.fralda">
          <option>RN</option>
          <option>PP</option>
          <option>P</option>
          <option>M</option>
          <option>G</option>
          <option>GG</option>
        </select>
      </div>
      <button type="button" class="btn btn-default" ng-click="gerarCodigo()">Gerar</button>
    </form>
    <div class="alert alert-success" ng-show="resultado" role="alert">{{resultado}}</div>

    <h3>Validar Código</h3>
    <form>
      <div class="form-group">
        <label for="codigo">Código:</label>
        <input type="text" class="form-control" id="saudacao" name="saudacao" ng-model="codigo">
      </div>
      <button type="button" class="btn btn-default" ng-click="validarCodigo()">Validar</button>
    </form>
    <div class="alert alert-success" ng-show="validacao" role="alert">{{validacao || json}}</div>
  </div>
</body>
</html>
